dockerapps/data/mongodata/mongo_pri
dockerapps/data/mongodata/mongo_slave
dockerapps/data/mongodata/mongo_arb
dockerapps/data/mongodata/mongod

dockerapps/data/alertmanager/
dockerapps/data/prometheus/
dockerapps/data/granfna/

.DS_Store
#dockerapps/.DS_Store
#dockerapps/configs/.DS_Store
#k8sapps/.DS_Store
#k8sapps/k8s-cluster-deploy/.DS_Store
